.choose-team {
  background: #f2efeb;
  padding: 20px;
  border-radius: 12px;
  width: 300px;
}

.team-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.team-card {
  cursor: pointer;
  border: 3px solid transparent;
  padding: 10px;
  text-align: center;
}

.team-card.active {
  border-color: green;
}
