.createTeam {
  padding: 24px;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.createTeam input {
  width: 100%;
  padding: 14px;
  font-family: "Poppins";
  text-align: center;
  font-size: 16px;
  border-radius: 10px;
  border: 2px solid var(--lightBeige);
}

.headerContainer {
  background: var(--lightBeige);
  border-radius: 16px;
  padding: 15px;
  width: 492px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  background-color: var(--lightBeige);
  border-radius: 16px;
  width: 492px;
  height: 473px;
  padding: 15px;
  justify-items: center;
  align-items: center;
}

.imageGrid img {
  cursor: pointer;
  border-radius: 50%;
  border: 3px solid transparent;
  width: 100px;
  height: 100px;
  background-color: var(--deepCrimson);
}

.imageGrid img.selected {
  border-color: var(--christmasGreen);
}

.createTeam button {
  margin-top: 12px;
  width: 100%;
  padding: 10px;
}
