.createTeam {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  margin-right: 20px;
  width: 100%;
  max-width: 420px;
  margin-left: auto;
  margin-right: 100px;
  box-sizing: border-box;
  margin-bottom: 15px;
}
 
.createTeam input {
  width: 100%;
  padding: 12px;
  font-family: "Poppins";
  text-align: center;
  font-size: 15px;
  border-radius: 10px;
  border: 2px solid var(--lightBeige);
}
 
.headerContainer {
  background: var(--lightBeige);
  border-radius: 16px;
  padding: 10px;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.imageGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 14px;
  background-color: var(--lightBeige);
  border-radius: 16px;
  width: 100%;
  height: auto;
  padding: 10px;
  justify-items: center;
  align-items: center;
}
 
.imageGrid img {
  cursor: pointer;
  border-radius: 50%;
  border: 3px solid transparent;
  width: 70px;
  height: 70px;
  background-color: var(--deepCrimson);
}
 
.imageGrid img.selected {
  border-color: var(--christmasGreen);
  box-shadow: 0 0 10px var(--christmasGreen);
}
 
.createTeam button {
  width: 100%;
  padding: 12px;
}