.createTeam {
  padding: 16px; /* indre luft omkring indholdet */
  display: flex; /* flex layout */
  flex-direction: column; /* elementer stables lodret */
  align-items: center; /* centrerer indholdet horisontalt */
  gap: 18px; /* afstand mellem elementer */
  box-sizing: border-box; /* inkluderer padding i width */
}

.createTeam input {
  max-width: 80%; /* input størrelse*/
  padding: 14px; /* indre luft */
  font-family: "Poppins"; /* font */
  text-align: center; /* centreret tekst */
  font-size: 15px; /* tekststørrelse */
  border-radius: 10px; /* afrundede hjørner */
  border: 1px solid var(--lightBeige); /* lys beige kant */
  color: var(--deepCrimson); /* rødfarve i input */
}

.headerContainer {
  background: var(--lightBeige); /* lys beige baggrund */
  border-radius: 16px; /* afrundede hjørner */
  padding: 10px; /* indre luft */
  width: 100%; /* fylder hele bredden */
  height: 80px; /* fast højde */
  display: flex; /* flex layout */
  justify-content: center; /* centrerer horisontalt */
  align-items: center; /* centrerer vertikalt */
}

.imageGrid {
  display: grid; /* grid layout */
  grid-template-columns: repeat(3, 1fr); /* 3 kolonner */
  gap: 14px; /* afstand mellem billeder */
  background-color: var(--lightBeige); /* lys beige baggrund */
  border-radius: 16px; /* afrundede hjørner */
  width: 100%; /* fylder hele bredden */
  padding: 10px; /* indre luft */
  justify-items: center; /* centrerer billeder horisontalt */
  align-items: center; /* centrerer billeder vertikalt */
}

.imageGrid img {
  cursor: pointer; /* klikbart billede */
  border-radius: 50%; /* runde ikoner */
  border: 3px solid transparent; /* neutral kant */
  width: 70px; /* bredde */
  height: 70px; /* højde */
  background-color: var(--deepCrimson); /* dyb rød baggrund */
}

.imageGrid img.selected {
  border-color: var(--christmasGreen); /* grøn kant */
  box-shadow: 0 0 10px var(--christmasGreen); /* glow-effekt */
}

.createTeam button {
  width: 100%; /* knappen fylder hele bredden */
  padding: 12px; /* indre luft */
}