.create-team {
  background: #f2efeb;
  padding: 24px;
  border-radius: 16px;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.create-team input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.image-grid img {
  cursor: pointer;
  border-radius: 50%;
  border: 3px solid transparent;
}

.image-grid img.selected {
  border-color: red;
}

.create-team button {
  margin-top: 12px;
  width: 100%;
  padding: 10px;
}
