.nameGame {
  background-image: url(../../assets/img/background-img/julebillede.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  min-height: 100vh;
}

.gamediv {
  padding: 10rem;
}

.gamediv p{
  font-size: 24px;
  font-weight: bold;
}

.gamediv div {
  padding: 20px;
}

@media screen and (max-width: 650px) {
  .game div Button {
    font-size: 14px;
    margin-left: 20px;
  }

  .gamediv {
    padding: 3rem 1rem;
  }
}
