.scoreboardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  gap: 12px;
  margin-bottom: 50px;
}

.team {
  display: flex;
  flex-direction: row;
}

.imageContainer {
  position: relative;
  height: 105px;
  width: 105px;
  background-color: var(--christmasGreen);
  border: none;
  border-radius: 45%;
  margin-right: -20px;
  z-index: 1;
}

.imageContainer > img {
  position: relative;
  height: 105px;
  width: 105px;
  border-radius: 45%;
  margin-right: -20px;
  z-index: 1;
}

.teamScoreboard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  color: black;
  background-color: var(--lightBeige);
  height: 105px;
  width: 200px;
  padding: 10px;
  text-align: center;
  z-index: 3;
}

.teamInfo {
  display: flex;
  flex-direction: column;
  width: 132px;
}

.divider {
  width: 100%;
  margin: 10px auto;
}

.scoreButtons {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.scoreButtons > img {
  height: 50px;
  width: 50px;
  cursor: pointer;
}
