.button {
  background-color: #9b1c1f;
  color: white;
  border: none;
  border-radius: 18px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.button:hover {
  background-color: #d4af37;
  color: black;
}
