.button {
  background-color: var(--deepCrimson);
  color: white;
  border: none;
  border-radius: 18px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  height: 70px;
  transition: background-color 0.3s ease;
  z-index: 5;
}

.button:hover {
  background-color: var(--metallicGold);
  color: black;
}
