.mainContainer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  background-color: var(--christmasGreen);
}

.jeopardyContainer {
  background-color: var(--lightBeige);
  width: 1100px;
  margin: 50px 0 20px;
  border: none;
  border-radius: 18px;
}

.gameHeader {
  display: block;
  text-align: center;
  margin-bottom: 12px;
  color: var(--deepCrimson);
}

.scoreContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  gap: 12px;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 50px;
}
.navigateBtn {
  width: 140px;
  margin: 0 auto;
}

.resetButton {
  width: 140px;
  margin: 0 auto;
}
