.mainContainer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.jeopardyContainer {
  background-color: var(--lightBeige);
  width: 1100px;
  margin: 50px 0;
  border: none;
  border-radius: 18px;
}

.gameHeader {
  display: block;
  text-align: center;
  margin-bottom: 12px;
  color: var(--deepCrimson);
}
