.container {
  background-image: url(../../assets/img/background-img/background_img_Forms.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  text-align: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;   
  overflow: hidden;
}

.container::before {
  content: "";
  position: absolute;
  top: 7%;
  left: 0;
  width: 100%;
  height: 90%;
  pointer-events: none;
  z-index: 0;

  background-image:
    radial-gradient(rgba(255, 255, 255, 0.8) 2px, transparent 2px),
    radial-gradient(rgba(255, 255, 255, 0.6) 3px, transparent 3px),
    radial-gradient(rgba(255, 255, 255, 0.5) 1.5px, transparent 1.5px);

  background-size: 60px 60px, 100px 100px, 150px 150px;
  background-repeat: repeat;

  animation: snowFall 30s linear infinite;
}

@keyframes snowFall {
  0% {
    background-position: 0 0, 0 0, 0 0;
  }
  100% {
    background-position: 0 400px, 0 500px, 0 600px;
  }
}

.form {
  padding: 40px;
  position: relative;   
  z-index: 1;
}

.formInput {
  padding: 30px;
}

.formInput div {
  padding: 10px;
}

.formNext {
  display: flex;
  gap: 5px;
  margin: 8px;
}

button {
  margin: 20px;
}

.selectGame {
  width: 80%;
  padding: 10px;
  margin-bottom: 8px;
}

h2 {
  padding: 20px;
}
