.grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.column {
  width: 160px;
  margin-bottom: 12px;
}

.headerTile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--deepCrimson);
  height: 75px;
  margin-bottom: 12px;
  text-align: center;
  max-width: 160px;
  padding: 10px;
  text-wrap: wrap;
}
